<!DOCTYPE html>
<html>
  <head>
    <title>Приложение Клиентов</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div id="app"></div>
  </body>

  <%= javascript_pack_tag 'client' %>
</html>
