<div id="layouts-staff-navbar">
  <layouts-staff-navbar
    :_logo_staff = "'/images/staff.svg'"
    :_current_user = "<%= current_staff.to_json  %>">
  </layouts-staff-navbar>
</div>

<%= javascript_pack_tag 'staffs/layouts/navbar' %>
